html {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0px 25px;
  margin-top: 10px;
  margin-bottom: 40px;
}

nav {
  background: LightBlue;
  color: White;
  border-top: 1px Black solid;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/park.jpg");
  background-size: cover;
  height: 70vh;
}

h1, h2, h4 {
  font-weight: normal;
  text-align: center;
}

section {
  display: grid;
  grid-template: auto / auto auto auto;
  margin-bottom: 3rem;
}

article {
  padding: 20px;
}

p {
  text-align: center;
}

div {
  display: flex;
  justify-content: center;
}

footer {
  height: 25vh;
  background: SteelBlue;
  color: White;
  display: flex;
  flex-direction: column;
}

.link-container {
  justify-content: flex-end;
}

.nav-buttons {
  color: White;
  border: transparent;
  background: transparent;

}

.dogs {
  border-radius: 100%;
  border: 3px SteelBlue solid;
  margin: 10px;
  height: 220px;
  weight: 220px;
}

.under-dog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dog-info {
  display: inline;
  padding: 5px;
  font-size: 25px;
  color: SteelBlue;
  border: 3px SteelBlue solid;
  background: White;
}

.external {
  background: transparent;
  border: transparent;
}

#dog-icon {
  margin-top: 5px;
  margin-left: 10px;
  height: 25px;
}

#dog-1 {
  height: 300px;
}

#top-dog {
  display: flex;
  flex-direction: column;
}
